lljubici1_aplikacija_2/lljubici1_aplikacija_2-war/src/conf/xml-resources/web-service-references/WS_Aerodrom/wsdl/localhost_8084/lljubici1_aplikacija_1/WS_Aerodrom.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.lljubici1.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.lljubici1.nwtis.foi.org/" name="WS_Aerodrom">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.lljubici1.nwtis.foi.org/" schemaLocation="http://localhost:8084/lljubici1_aplikacija_1/WS_Aerodrom?xsd=1"/>
</xsd:schema>
</types>
<message name="udaljenostIzmeduDvaAerodromaUGranicama">
<part name="parameters" element="tns:udaljenostIzmeduDvaAerodromaUGranicama"/>
</message>
<message name="udaljenostIzmeduDvaAerodromaUGranicamaResponse">
<part name="parameters" element="tns:udaljenostIzmeduDvaAerodromaUGranicamaResponse"/>
</message>
<message name="podaciOLetovimaIzabranogAvionaOdDoNazivi">
<part name="parameters" element="tns:podaciOLetovimaIzabranogAvionaOdDoNazivi"/>
</message>
<message name="podaciOLetovimaIzabranogAvionaOdDoNaziviResponse">
<part name="parameters" element="tns:podaciOLetovimaIzabranogAvionaOdDoNaziviResponse"/>
</message>
<message name="dohvatiUdaljenostIzmeduDvaAerodroma">
<part name="parameters" element="tns:dohvatiUdaljenostIzmeduDvaAerodroma"/>
</message>
<message name="dohvatiUdaljenostIzmeduDvaAerodromaResponse">
<part name="parameters" element="tns:dohvatiUdaljenostIzmeduDvaAerodromaResponse"/>
</message>
<message name="podaciOLetovimaIzabranogAerodromaOdDo">
<part name="parameters" element="tns:podaciOLetovimaIzabranogAerodromaOdDo"/>
</message>
<message name="podaciOLetovimaIzabranogAerodromaOdDoResponse">
<part name="parameters" element="tns:podaciOLetovimaIzabranogAerodromaOdDoResponse"/>
</message>
<message name="dohvatiMeteoPodatkeIzabraniAerodrom">
<part name="parameters" element="tns:dohvatiMeteoPodatkeIzabraniAerodrom"/>
</message>
<message name="dohvatiMeteoPodatkeIzabraniAerodromResponse">
<part name="parameters" element="tns:dohvatiMeteoPodatkeIzabraniAerodromResponse"/>
</message>
<message name="podaciOLetovimaIzabranogAvionaOdDo">
<part name="parameters" element="tns:podaciOLetovimaIzabranogAvionaOdDo"/>
</message>
<message name="podaciOLetovimaIzabranogAvionaOdDoResponse">
<part name="parameters" element="tns:podaciOLetovimaIzabranogAvionaOdDoResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="zadnjihNPodataka">
<part name="parameters" element="tns:zadnjihNPodataka"/>
</message>
<message name="zadnjihNPodatakaResponse">
<part name="parameters" element="tns:zadnjihNPodatakaResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="zadnjiPodaci">
<part name="parameters" element="tns:zadnjiPodaci"/>
</message>
<message name="zadnjiPodaciResponse">
<part name="parameters" element="tns:zadnjiPodaciResponse"/>
</message>
<message name="dohvatiKorisnike">
<part name="parameters" element="tns:dohvatiKorisnike"/>
</message>
<message name="dohvatiKorisnikeResponse">
<part name="parameters" element="tns:dohvatiKorisnikeResponse"/>
</message>
<portType name="WS_Aerodrom">
<operation name="udaljenostIzmeduDvaAerodromaUGranicama">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/udaljenostIzmeduDvaAerodromaUGranicamaRequest" message="tns:udaljenostIzmeduDvaAerodromaUGranicama"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/udaljenostIzmeduDvaAerodromaUGranicamaResponse" message="tns:udaljenostIzmeduDvaAerodromaUGranicamaResponse"/>
</operation>
<operation name="podaciOLetovimaIzabranogAvionaOdDoNazivi">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/podaciOLetovimaIzabranogAvionaOdDoNaziviRequest" message="tns:podaciOLetovimaIzabranogAvionaOdDoNazivi"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/podaciOLetovimaIzabranogAvionaOdDoNaziviResponse" message="tns:podaciOLetovimaIzabranogAvionaOdDoNaziviResponse"/>
</operation>
<operation name="dohvatiUdaljenostIzmeduDvaAerodroma">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/dohvatiUdaljenostIzmeduDvaAerodromaRequest" message="tns:dohvatiUdaljenostIzmeduDvaAerodroma"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/dohvatiUdaljenostIzmeduDvaAerodromaResponse" message="tns:dohvatiUdaljenostIzmeduDvaAerodromaResponse"/>
</operation>
<operation name="podaciOLetovimaIzabranogAerodromaOdDo">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/podaciOLetovimaIzabranogAerodromaOdDoRequest" message="tns:podaciOLetovimaIzabranogAerodromaOdDo"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/podaciOLetovimaIzabranogAerodromaOdDoResponse" message="tns:podaciOLetovimaIzabranogAerodromaOdDoResponse"/>
</operation>
<operation name="dohvatiMeteoPodatkeIzabraniAerodrom">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/dohvatiMeteoPodatkeIzabraniAerodromRequest" message="tns:dohvatiMeteoPodatkeIzabraniAerodrom"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/dohvatiMeteoPodatkeIzabraniAerodromResponse" message="tns:dohvatiMeteoPodatkeIzabraniAerodromResponse"/>
</operation>
<operation name="podaciOLetovimaIzabranogAvionaOdDo">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/podaciOLetovimaIzabranogAvionaOdDoRequest" message="tns:podaciOLetovimaIzabranogAvionaOdDo"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/podaciOLetovimaIzabranogAvionaOdDoResponse" message="tns:podaciOLetovimaIzabranogAvionaOdDoResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="zadnjihNPodataka">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/zadnjihNPodatakaRequest" message="tns:zadnjihNPodataka"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/zadnjihNPodatakaResponse" message="tns:zadnjihNPodatakaResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="zadnjiPodaci">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/zadnjiPodaciRequest" message="tns:zadnjiPodaci"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/zadnjiPodaciResponse" message="tns:zadnjiPodaciResponse"/>
</operation>
<operation name="dohvatiKorisnike">
<input wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/dohvatiKorisnikeRequest" message="tns:dohvatiKorisnike"/>
<output wsam:Action="http://ws.lljubici1.nwtis.foi.org/WS_Aerodrom/dohvatiKorisnikeResponse" message="tns:dohvatiKorisnikeResponse"/>
</operation>
</portType>
<binding name="WS_AerodromPortBinding" type="tns:WS_Aerodrom">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="udaljenostIzmeduDvaAerodromaUGranicama">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOLetovimaIzabranogAvionaOdDoNazivi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiUdaljenostIzmeduDvaAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOLetovimaIzabranogAerodromaOdDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiMeteoPodatkeIzabraniAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciOLetovimaIzabranogAvionaOdDo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zadnjihNPodataka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zadnjiPodaci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiKorisnike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_Aerodrom">
<port name="WS_AerodromPort" binding="tns:WS_AerodromPortBinding">
<soap:address location="http://localhost:8084/lljubici1_aplikacija_1/WS_Aerodrom"/>
</port>
</service>
</definitions>