lljubici1_aplikacija_3/lljubici1_aplikacija_3-war/src/conf/xml-resources/web-service-references/WS_Aerodrom/wsdl/localhost_8084/lljubici1_aplikacija_1/WS_Aerodrom.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.lljubici1.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.lljubici1.nwtis.foi.org/">

<xs:element name="azurirajKorisnika" type="tns:azurirajKorisnika"/>

<xs:element name="azurirajKorisnikaResponse" type="tns:azurirajKorisnikaResponse"/>

<xs:element name="dodajKorisnika" type="tns:dodajKorisnika"/>

<xs:element name="dodajKorisnikaResponse" type="tns:dodajKorisnikaResponse"/>

<xs:element name="dohvatiKorisnike" type="tns:dohvatiKorisnike"/>

<xs:element name="dohvatiKorisnikeResponse" type="tns:dohvatiKorisnikeResponse"/>

<xs:element name="dohvatiMeteoPodatkeIzabraniAerodrom" type="tns:dohvatiMeteoPodatkeIzabraniAerodrom"/>

<xs:element name="dohvatiMeteoPodatkeIzabraniAerodromResponse" type="tns:dohvatiMeteoPodatkeIzabraniAerodromResponse"/>

<xs:element name="dohvatiUdaljenostIzmeduDvaAerodroma" type="tns:dohvatiUdaljenostIzmeduDvaAerodroma"/>

<xs:element name="dohvatiUdaljenostIzmeduDvaAerodromaResponse" type="tns:dohvatiUdaljenostIzmeduDvaAerodromaResponse"/>

<xs:element name="podaciOLetovimaIzabranogAerodromaOdDo" type="tns:podaciOLetovimaIzabranogAerodromaOdDo"/>

<xs:element name="podaciOLetovimaIzabranogAerodromaOdDoResponse" type="tns:podaciOLetovimaIzabranogAerodromaOdDoResponse"/>

<xs:element name="podaciOLetovimaIzabranogAvionaOdDo" type="tns:podaciOLetovimaIzabranogAvionaOdDo"/>

<xs:element name="podaciOLetovimaIzabranogAvionaOdDoNazivi" type="tns:podaciOLetovimaIzabranogAvionaOdDoNazivi"/>

<xs:element name="podaciOLetovimaIzabranogAvionaOdDoNaziviResponse" type="tns:podaciOLetovimaIzabranogAvionaOdDoNaziviResponse"/>

<xs:element name="podaciOLetovimaIzabranogAvionaOdDoResponse" type="tns:podaciOLetovimaIzabranogAvionaOdDoResponse"/>

<xs:element name="udaljenostIzmeduDvaAerodromaUGranicama" type="tns:udaljenostIzmeduDvaAerodromaUGranicama"/>

<xs:element name="udaljenostIzmeduDvaAerodromaUGranicamaResponse" type="tns:udaljenostIzmeduDvaAerodromaUGranicamaResponse"/>

<xs:element name="zadnjiPodaci" type="tns:zadnjiPodaci"/>

<xs:element name="zadnjiPodaciResponse" type="tns:zadnjiPodaciResponse"/>

<xs:element name="zadnjihNPodataka" type="tns:zadnjihNPodataka"/>

<xs:element name="zadnjihNPodatakaResponse" type="tns:zadnjihNPodatakaResponse"/>

<xs:complexType name="udaljenostIzmeduDvaAerodromaUGranicama">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icaoAerodroma" type="xs:string" minOccurs="0"/>
<xs:element name="odUdaljenost" type="xs:double"/>
<xs:element name="doUdaljenost" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="udaljenostIzmeduDvaAerodromaUGranicamaResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aerodrom">
<xs:sequence>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciOLetovimaIzabranogAvionaOdDoNazivi">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:int"/>
<xs:element name="doVremena" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciOLetovimaIzabranogAvionaOdDoNaziviResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnika">
<xs:sequence>
<xs:element name="korisnik" type="tns:korisnik" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="korisnik">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="ime" type="xs:string" minOccurs="0"/>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="prezime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiUdaljenostIzmeduDvaAerodroma">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icaoAerodromaOd" type="xs:string" minOccurs="0"/>
<xs:element name="icaoAerodromaDo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiUdaljenostIzmeduDvaAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiKorisnike">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiKorisnikeResponse">
<xs:sequence>
<xs:element name="return" type="tns:korisnik" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjiPodaci">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icaoAerodroma" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjiPodaciResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avionLeti">
<xs:sequence>
<xs:element name="arrivalAirportCandidatesCount" type="xs:int"/>
<xs:element name="callsign" type="xs:string" minOccurs="0"/>
<xs:element name="departureAirportCandidatesCount" type="xs:int"/>
<xs:element name="estArrivalAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estArrivalAirportHorizDistance" type="xs:int"/>
<xs:element name="estArrivalAirportVertDistance" type="xs:int"/>
<xs:element name="estDepartureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estDepartureAirportHorizDistance" type="xs:int"/>
<xs:element name="estDepartureAirportVertDistance" type="xs:int"/>
<xs:element name="firstSeen" type="xs:int"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="lastSeen" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjihNPodataka">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="n" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjihNPodatakaResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="azurirajKorisnika">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="korisnik" type="tns:korisnik" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="azurirajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciOLetovimaIzabranogAvionaOdDo">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:int"/>
<xs:element name="doVremena" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciOLetovimaIzabranogAvionaOdDoResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiMeteoPodatkeIzabraniAerodrom">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiMeteoPodatkeIzabraniAerodromResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciOLetovimaIzabranogAerodromaOdDo">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:int"/>
<xs:element name="doVremena" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciOLetovimaIzabranogAerodromaOdDoResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>